# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Outputs
outputs/*
!outputs/*.png
!outputs/*.jpg
!outputs/*.jpeg
logs/

# Streamlit cache
.streamlit/

# OS files
.DS_Store

# Data
data/AERO-BirdsEye-Data.csv

# Jupyter checkpoints
.ipynb_checkpoints/